<section id="about">
    <div class="container">
        <div class="card">
            <div class="card-img"></div>
            <div class="card-text">
                <p>
                    Hello world, I'm a recent UBC graduate with a passion for web development. Proficient in both front-end and back-end development, I have led development of multiple outstanding school and work projects.
                    <br>
                    <br> From my time at UBC Computer Science, I was able to acquire a wealthy amount of experience in constructing and optimizing algorithms, building efficient databases, and coding in a variety of programming languages. Unfortunately, web development was not part of the skills I picked up at UBC since it was not directly taught in the program. Instead, my curiosity led me to discover it. Individually, I was able to learn HTML/CSS, JavaScript, and PHP relatively intuitively. With these skills, I have been continually developing exceptional web applications for the past 2 years now.
                    <br>
                    <br> I have been known to have an eye for simplistic and gorgeous designs, as well as, being extremely detail-oriented. However, I would have to say what separates me from most self-taught web developers is my background at UBC.
                </p>
            </div>
        </div>
    </div>
</section>
