<section id="portfolio" ng-init="vm.loadPortfolio()">
    <div class="container">
        <div class="row">
            <div class="col-xlg-6" ng-repeat="p in vm.portfolio">
                <a class="card" id="{{p.name}}-card" ui-sref="preview({project: '{{p.name}}'})">
                    <img ng-src="{{p.img}}" class="card-img">
                    <div class="card-img-overlay">
                        <h4 class="card-title">{{p.title}}</h4>
                        <p class="card-text">{{p.description}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
