div[ui-view] {
    &.ng-leave {
        #about {
            .card {
                @include animation(zoom-out 700ms ease-in both);
            }
        }
    }
}

#about {
    .container {
        margin-top: 6em;
        @include max-widths(xlg) {
            width: 100%;
        }
        .card {
            @include animation(zoom-in 700ms ease-out 700ms both);
            .card-img {
                background-image: url("../img/profile.jpg");
                background-size: cover;
                background-position: center;
                height: 30em;
                @include max-widths(md) {
                    background-position: 80% center;
                }
                @include max-widths(sm) {
                    height: 20em;
                    background-image: url("../img/profile-sm.jpg");
                    background-position: center 20%;
                }
            }
            .card-text {
                padding: 2em;
                @include max-widths(lg) {
                    padding: 1em;
                }
            }
        }
    }
}
