// Generate the large columns
@mixin make-xlg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xlg) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-xlg-column-offset($columns) {
  @media (min-width: $screen-xlg) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xlg-column-push($columns) {
  @media (min-width: $screen-xlg) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xlg-column-pull($columns) {
  @media (min-width: $screen-xlg) {
    right: percentage(($columns / $grid-columns));
  }
}

@media (min-width: $screen-xlg) {
  @include make-grid(xlg);
}

@for $i from 2 through $grid-columns {
    .col-xlg-#{$i} {
        position: relative;
        min-height: 1px;
        padding-left:  ceil(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));
    }
}