.header {
    background-color: $header-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #333;
    @include card-shadow;
    .container-fluid {
        display: flex;
        align-items: center;
    }
    .navbar-header {
        @include max-widths(xlg) {
            padding: 1em 0.5em;
        }
        @include max-widths(md) {
            padding: 0.5em 0.5em;
        }
    }
    .navbar-brand {
        margin-bottom: 0;
        a {
            color: #333;
            text-decoration: none;
        }
    }
    .navbar-toggle {
        margin-left: auto;
        margin-right: 0;
        .icon-bar {
        background-color: #333;
        }
    }
    .nav.navbar-nav {
        margin-left: auto;
        @include max-widths(md) {
            display: none !important;
        }
        li a {
            color: #333;
            &:hover {
                background-color: transparent;
                font-weight: 600;
                color: #424242;
            }
            &:focus {
                background-color: transparent;
            }
        }
    }
    .collapsed-menu {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        padding: 1em 1.5em;
        overflow: hidden;
        opacity: 0;
        background-color: $header-color;
        list-style: none;
        &.in {
            opacity: 1;
        }
        @media (min-width: $screen-md) {
            display: none;
        }
        li {
            padding: 0.75em 0;
            cursor: pointer;
            &:hover {
                background-color: transparent;
                font-weight: 600;
                color: #424242;
            }
            &:focus {
                background-color: transparent;
            }
        }
    }
}
