.header {
    margin: 1em;
    border-radius: 0.2em;
    background-color: $header-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #333;
    .navbar-brand {
        margin-bottom: 0;
    }
    .navbar-right {
        margin-right: 0;
    }
    .nav li a {
        color: #333;
        &:hover {
            background-color: transparent;
            font-weight: 600;
            color: #424242;
        }
        &:focus {
            background-color: transparent;
        }
    }
    .navbar-header {
        @include max-widths(sm) {
            background-color: $header-color;
            border-radius: 0.2em 0.2em 0 0;
        }
    }
    .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .navbar-collapse {
        overflow: hidden;
        @include max-widths(sm) {
            opacity: 0;
            background-color: #f5f5f5;
            &.in {
                opacity: 1;
            }
        }
    }
}
