.banner {
    text-align: center;
    padding: 10em 0 14em 0;
}

.btn:focus {
    outline: none;
}

#project-btn {
    position: absolute;
    bottom: 10%;
    left: 0;
}

#home {
    overflow: hidden;
    background-color: #00BCD4;
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
    .btn-link {
        color: #FFF;
    }
    #bio {
        @include animation(fade-in 1s ease-in);
        &.ng-hide {
            @include animation(fade-out-left 1s ease);
        }
    }
    #education {
        @include animation(fade-in 1s ease-in both);
        &.ng-hide {
            @include animation(fade-out-right 1s ease);
        }
        #courses {
            overflow: hidden;
            height: 22em;
            padding: 0 0.2em;
            @include transition(height 1s ease);
            &.ng-hide {
                height: 0em !important;
                @include transition(height 1s ease);
            }
            .nav-tabs {
                border-bottom: 0;
                a {
                    margin: 0;
                    background-color: transparent;
                    border: 0;
                    color: #333;
                    border-radius: 0;
                    &:hover {
                        color: #333;
                        cursor: pointer;
                        background-color: #F5F5F5;
                    }
                }
                .active {
                    background-color: #F5F5F5;
                }
            }
            .table-container {
                padding: 0.5em;
                background-color: #F5F5F5;
                @include card-shadow;
                .course-table {
                    font-size: 0.9em;
                    background-color: #F5F5F5;
                    margin-bottom: 0;
                    .course-col {
                        width: 7em;
                    }
                }
                .table-body {
                    background-color: #F5F5F5;
                    max-height: 15em;
                    overflow-y: scroll;
                    tr:first-of-type td {
                        border-top: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 6px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(217, 218, 215, 0.7);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@for $i from 1 through 3 {
    .card-#{$i} {
        @include animation(zoom-in 400ms ease-in $i*0.3s both);
    }
    .card-#{$i}.ng-hide {
        @include animation(zoom-out 400ms ease-in (4-$i)*0.3s);
    }
}

.card {
    display: block;
    position: relative;
    background-color: #FFF;
    @include card-shadow;
    .card-img {
        display: block;
        width: 100%;
        border: 0;
    }
    &.card-sm {
        height: 20em;
        overflow: hidden; 
    }
    &#yippee-card {
        margin-bottom: 2.714em;
        img {
            transform: translate(12%, -7%);
            width: 80%;
        }
    }
    .card-img-overlay {
        position: absolute;
        background-color: rgba(51, 51, 51, 0.6);
        color: #FFF;
        padding: 1em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        @include transition(opacity 0.3s ease-in);
        &:hover {
            opacity: 1;
        }
    }
}
