div[ui-view] {
    &.ng-leave {
        #home {
            #bio {
                @include animation(fade-out-left 700ms ease-in both);
            }
            hr {
                @include animation(fade-out 500ms ease-in both);
            }
            #education {
                @include animation(fade-out-right 700ms ease-in both);
            }
        }
    }
}

#home {
    overflow: auto;
    height: 100vh;
    display: flex;
    .container {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        @include max-widths(xlg) {
            display: block;
            margin-top: 8em;
        }
    }
    .col-xlg-6 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .btn-link {
        color: #333;
        text-transform: none;
        &:focus {
            text-decoration: none;
            outline: none;
        }
        &:hover {
            text-decoration: none;
            font-weight: 600;
        }
    }
    #bio {
        text-align: center;
        @include animation(fade-in 500ms ease-out 1s both);
        @include max-widths(xlg) {
            margin-bottom: 2em;
        }
    }
    hr {
        @include animation(fade-in 500ms ease-in 1s both);
        visibility: hidden;
        @include max-widths(xlg) {
            visibility: visible;
        }
    }
    #education {
        @include max-widths(xlg) {
            margin-top: 3em;
        }
        @include animation(fade-in 500ms ease-out 1s both);
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            .col-md-9 {
                width: auto;
                @include max-widths(md) {
                    padding: 0;
                    text-align: center;
                }
            }
            .col-md-3 {
                @include max-widths(md) {
                    width: 50%;
                    img {
                        margin-bottom: 1em;
                    }
                }
            }
        }
        #courses {
            width: 100%;
            overflow: hidden;
            height: 22em;
            padding: 0 0.2em;
            @include transition(height 700ms ease-out);
            @include max-widths(sm) {
                width: 115%;
            }
            @include max-widths(xs) {
                width: 125%;
            }
            &.ng-hide {
                height: 0em !important;
                @include transition(height 700ms ease-in);
            }
            .nav-tabs {
                border-bottom: 0;
                a {
                    margin: 0;
                    background-color: transparent;
                    border: 0;
                    color: #333;
                    border-radius: 0;
                    &:hover {
                        color: #333;
                        cursor: pointer;
                        background-color: #F5F5F5;
                    }
                    @include max-widths(xs) {
                        padding: 0.5em;
                    }
                }
                .active {
                    background-color: #F5F5F5;
                    @include box-shadow(0px -3px 3px 0px rgba(94, 94, 94, 0.8));
                }
            }
            .table-container {
                padding: 0.5em;
                background-color: #F5F5F5;
                @include card-shadow;
                .course-table {
                    font-size: 0.9em;
                    background-color: #F5F5F5;
                    margin-bottom: 0;
                    .course-col {
                        width: 7em;
                    }
                }
                .table-body {
                    background-color: #F5F5F5;
                    max-height: 15em;
                    overflow-y: auto;
                    tr:first-of-type td {
                        border-top: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 6px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(217, 218, 215, 0.7);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
