@mixin response-widths($width) {
    @if $width == xs {
        @media (min-width: $screen-xs ) and (max-width: $screen-sm - 1) { @content; }
    }
    @else if $width == sm {
        @media (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content; }
    }
    @else if $width == md {
        @media (min-width: $screen-md) and (max-width: $screen-lg - 1) { @content; }
    }
    @else if $width == lg {
        @media (min-width: $screen-lg) and (max-width: $screen-xlg - 1) { @content; }
    }
    @else if $width == xlg {
        @media (min-width: $screen-xlg) and (max-width: $screen-xxlg - 1) { @content; }
    }
    @else if $width == xxlg {
        @media (min-width: $screen-xxlg) and (max-width: $screen-wd - 1) { @content; }
    }
    @else if $width == wd {
        @media (min-width: $screen-wd) { @content; }
    }
}

@mixin max-widths($width) {
    @if $width == xs {
        @media (max-width: $screen-xs - 1) { @content; }
    }
    @else if $width == sm {
        @media (max-width: $screen-sm - 1) { @content; }
    }
    @else if $width == md {
        @media (max-width: $screen-md - 1) { @content; }
    }
    @else if $width == lg {
        @media (max-width: $screen-lg - 1) { @content; }
    }
    @else if $width == xlg {
        @media (max-width: $screen-xlg - 1) { @content; }
    }
    @else if $width == xxlg {
        @media (max-width: $screen-xxlg - 1) { @content; }
    }
}

@mixin card-shadow {
    -webkit-box-shadow: $card-box;
    -moz-box-shadow: $card-box;
    box-shadow: $card-box;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transit) {
    -webkit-transition: $transit;
    -moz-transition: $transit;
    -o-transition: $transit;
    transition: $transit;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($animate) {
    -webkit-animation: $animate;
    -moz-animation: $animate;
    -o-animation: $animate;
    animation: $animate;
}

@mixin transform($trans) {
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -o-transform: $trans;
    transform: $trans;
}