.container {
    @include response-widths(xs) { width: 100%; }
    @include response-widths(sm) { width: 45em; }
    @include response-widths(md) { width: 50em; }
    @include response-widths(lg) { width: 55em; }
    @include response-widths(xlg) { width: 70em; }
    @include response-widths(xxlg) { width: 80em; }
    @include response-widths(wd) { width: 90em; }
}