div[ui-view] {
    &.ng-leave {
        #portfolio {
            @for $i from 1 through 4 {
                .col-xlg-6:nth-of-type(#{$i}) .card {
                    @include animation(zoom-out 400ms ease-in (4-$i)*0.2s both);
                }
            }
        }
    }
}

#portfolio {
    @include max-widths(xlg) {
        align-items: baseline;
        padding-top: 0em;
        padding-bottom: 5em;
        .col-xlg-6 {
            margin-bottom: 2em;
            padding-left: 1em !important;
            padding-right: 1em !important;
        }
        .card {
            overflow: hidden;
            height: 30em;
        }
        .container {
            padding-top: 8em;
            align-items: baseline;
        }
    }
    height: 100vh;
    display: flex;
    align-items: center;
    .col-xlg-6 {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .card {
        height: 25em;
        overflow: hidden;
    }
    @include max-widths(md) {
        .card {
            max-height: 20em;
        }
    }
    @include max-widths(sm) {
        .card {
            max-height: 13em;
        }
    }
    @for $i from 1 through 4 {
        .col-xlg-6:nth-of-type(#{$i}) .card {
            @include animation(zoom-in 400ms ease-out 1s+$i*0.2s both);
        }
    }
}
