div[ui-view] {
    &.ng-leave {
        #portfolio {
            @for $i from 1 through 4 {
                .col-xlg-6:nth-of-type(#{$i}) .card {
                    @include animation(zoom-out 400ms ease-in (4-$i)*0.2s both);
                }
            }
        }
    }
}

#portfolio {
    @include max-widths(xlg) {
        align-items: baseline;
        padding-top: 0em;
        padding-bottom: 5em;
    }
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        @include response-widths(xxlg) {
            padding-top: 16em;
        }
        @include response-widths(xlg) {
            padding-top: 16em;
        }
        @include response-widths(lg) {
            padding-top: 6em;
        }
        @include response-widths(md) {
            padding-top: 6em;
        }
        @include max-widths(md) {
            padding-top: 5em;
        }
        @include response-widths(wd) {
            padding-top: 3em;
        }
    }
    .col-xlg-6 {
        padding-left: 0.5em;
        padding-right: 0.5em;
        @include max-widths(xlg) {
            padding-left: 1em !important;
            padding-right: 1em !important;
        }
        @include max-widths(md) {
            margin-bottom: 0em;
        }
    }
    .card {
        height: 25em;
        overflow: hidden;
        @include max-widths(xlg) {
            max-height: 35em;
        }
        @include max-widths(md) {
            max-height: 25em;
        }
        @include max-widths(sm) {
            max-height: 20em;
        }
        @include max-widths(xs) {
            max-height: 15em;
        }
    }
    @for $i from 1 through 4 {
        .col-xlg-6:nth-of-type(#{$i}) .card {
            @include animation(zoom-in 400ms ease-out 1s+$i*0.2s both);
        }
    }
}
