#content {
    &.ng-leave {
        #previews {
            .carousel-card {
                @include animation(fade-out-up 700ms ease-in 200ms both);
                img {
                    @include animation(fade-out 400ms ease-in 500ms both);
                }
            }
            #features {
                .card {
                    @include animation(fade-out-down 700ms ease-in 400ms both);
                }
            }
        }
    }
}

#previews {
    height: 100vh;
    display: flex;
    .container {
        margin-top: 6em;
        .carousel-card {
            @include animation(fade-in-down 700ms ease-out 1.4s both);
            .carousel {
                .carousel-inner {
                    height: 60vh;
                    background-color: #f5f5f5;
                    @include card-shadow;
                    img {
                        @include animation(fade-in 400ms ease-out);
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .carousel-control {
                    width: 10%;
                    background-image: none;
                }
            }
            .card {
                border-top: 1px solid #f5f5f5;
                .card-text {
                    padding: 1em;
                    text-align: center;
                    h4 {
                        margin-bottom: 0;
                    }
                }
            }
        }
        #features {
            .card {
                @include animation(fade-in-up 700ms ease-out 1.4s both);
                .card-text {
                    padding: 1em;
                }
            }
        }
    }
}
