h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

@for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
        @include response-widths(lg) {
            font-size: nth($header-font, $i) * 1.5 !important;
        }
        @include response-widths(md) {
            font-size: nth($header-font, $i) * 1.2 !important;
        }
        @include response-widths(sm) {
            font-size: nth($header-font, $i) * 1.1 !important;
        }
    }
}

p {
    @include response-widths(xs) {
        font-size: 1em;
    }
    @include response-widths(sm) {
        font-size: 1.1em;
    }
    @include response-widths(md) {
        font-size: 1.2em;
    }
    @include response-widths(lg) {
        font-size: 1.3em;
    }
}