@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
$font-family-base: 'Open Sans', sans-serif;
$icon-font-path: "../libs/bootstrap-sass/assets/fonts/bootstrap/";

$font-size-base: 16px !default;
$font-size-xlg: 1.5em !default;
$font-size-lg: 1.25em !default;
$font-size-sm: .875em !default;
$font-size-xs: .75em !default;

$header-font: 2em 1.5em 1.4em 1.3em 1.2em 1.15em;

$font-size-h1: 2em !default;
$font-size-h2: 1.5em !default;
$font-size-h3: 1.3em !default;
$font-size-h4: 1.2em !default;
$font-size-h5: 1.15em !default;
$font-size-h6: 1.1em !default;

$grid-breakpoints: ( xs: 320px, sm: 481px, md: 641px, lg: 861px, xl: 1025px, xxl: 1281px, wd: 1824px) !default;

$screen-xs: map-get($grid-breakpoints, xs);
$screen-sm: map-get($grid-breakpoints, sm);
$screen-md: map-get($grid-breakpoints, md);
$screen-lg: map-get($grid-breakpoints, lg);
$screen-xlg: map-get($grid-breakpoints, xl);
$screen-xxlg: map-get($grid-breakpoints, xxl);
$screen-wd: map-get($grid-breakpoints, wd);

$container-sm: 30em;
$container-md: 45em;
$container-lg: 71.25em;

$card-box: 0px 0px 3px 0px rgba(94,94,94,0.8);

$bg-color: #B2EBF2;
$header-color: #ffffff;
$portfolio-color: #4CAF50;
$previews-color: #F44336;

$grid-float-breakpoint: $screen-md;