@import 'variables';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'grid';
@import 'mixins';
@import 'type';
@import 'overrides';
@import 'animations';
@import 'header';
@import 'home';
@import 'portfolio';
@import 'previews';

#content {
    background-color: $bg-color;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card {
    display: block;
    position: relative;
    background-color: #FFF;
    margin-bottom: 1em;
    @include card-shadow;
    .card-img {
        display: block;
        width: 100%;
        border: 0;
    }
    &.card-sm {
        height: 20.4em;
        overflow: hidden;
    }
    .card-img-overlay {
        position: absolute;
        background-color: rgba(51, 51, 51, 0.6);
        color: #FFF;
        padding: 1em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        @include transition(opacity 0.3s ease-out);
        &:hover {
            opacity: 1;
        }
    }
}
