<section id="home" ng-init="vm.loadCourses()">
    <div class="container">
        <div class="col-xlg-6" id="bio" ng-show="vm.showBio">
            <h2>Web Developer</h2>
            <h6>JavaScript - AngularJS, Ionic</h6>
            <h6>PHP - Laravel, CodeIgniter</h6>
            <h6>HTML/CSS</h6>
            <h6>Database - SQL, Firebase</h6>
        </div>
        <hr>
        <div class="col-xlg-6" id="education" ng-show="vm.showEducation">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" src="assets/img/ubc.png" />
                </div>
                <div class="col-xs-9">
                    <h4>University of British Columbia</h4>
                    <h6>Bachelor of Science</h6>
                    <h6>Major in Biochemistry</h6>
                    <h6>Major in Computer Science</h6>
                    <h6>September 2011 - May 2016</h6>
                </div>
            </div>
            <button class="btn btn-block btn-link" ng-click="vm.showCourses = !vm.showCourses">Completed Courses <span class="caret"></span></button>
            <div id="courses" ng-hide="vm.showCourses">
                <uib-tabset>
                    <uib-tab heading="ALL" active="tab.active" select="vm.queryCourses = ''"></uib-tab>
                    <uib-tab heading="CPSC" select="vm.queryCourses = 'cpsc'"></uib-tab>
                    <uib-tab heading="BIOC" select="vm.queryCourses = 'bioc'"></uib-tab>
                    <uib-tab heading="CHEM" select="vm.queryCourses = 'chem'"></uib-tab>
                </uib-tabset>
                <div class="table-container">
                    <table class="table table-hover course-table">
                        <thead>
                            <tr>
                                <th class="course-col">Course</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-body">
                        <table class="table table-hover course-table">
                            <tbody>
                                <tr ng-repeat="c in vm.courses | filter: {course: vm.queryCourses}">
                                    <td class="course-col">{{c.course}}</td>
                                    <td>{{c.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
