<section id="previews" ng-init="vm.loadProject()">
    <div class="container">
        <uib-carousel active="0">
            <uib-slide ng-repeat="i in vm.project.images track by $index" index="$index">
                <img ng-src="{{i}}">
            </uib-slide>
        </uib-carousel>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-text">
                        <p ng-repeat="f in vm.project.features">{{f}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-text">
                        <p ng-repeat="f in vm.project.features2">{{f}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
