<section id="previews" ng-init="vm.loadProject()">
    <div class="container">
        <div class="carousel-card">
            <uib-carousel active="0">
                <uib-slide ng-repeat="i in vm.project.images track by $index" index="$index">
                    <img ng-src="{{i}}">
                </uib-slide>
            </uib-carousel>
            <div class="card">
                <div class="card-text">
                    <h4>{{vm.project.title}}
                        <span ng-show="vm.project.github"> - </span>
                        <a ng-href="{{vm.project.github}}" ng-show="vm.project.github">GitHub</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-text">
                        <p ng-repeat="f in vm.project.features">{{f}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-text">
                        <p ng-repeat="f in vm.project.features2">{{f}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
